* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.footer {
  background-color: #2d314d;
  height: 80px;
  padding: 50px;
}

.footer .footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .footer-container .footer-row {
  display: flex;
}

.footer .footer-container .footer-row .footer-col1 svg {
  margin-left: 40px;
}

.footer .footer-container .footer-row .footer-col1 .footer-icons {
  padding-top: 50px;
  margin-left: 40px;
}

.footer .footer-container .footer-row .footer-col1 .footer-icons .yt {
  padding-left: 15px;
}

.footer .footer-container .footer-row .footer-col1 .footer-icons .pt {
  padding-left: 15px;
}

.footer .footer-container .footer-row .footer-col1 .footer-icons .twt {
  padding-left: 15px;
}

.footer .footer-container .footer-row .footer-col1 .footer-icons .insta {
  padding-left: 15px;
}

.footer .footer-container .footer-row .footer-col2 h5 {
  padding-left: 140px;
  color: #f3f4f6;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
  font-size: 0.95rem;
}

.footer .footer-container .footer-row .footer-col3 h5 {
  padding-left: 140px;
  color: #f3f4f6;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
  font-size: 0.95rem;
}

.footer .footer-container .footer-row .footer-col4 {
  padding-right: 0px;
}

.footer .footer-container .footer-row .footer-col4 button {
  margin-left: 400px;
  display: block;
  border: none;
  width: 11rem;
  padding: 0.8rem;
  border-radius: 36px 36px;
  font-size: 0.95rem;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
}

.footer .footer-container .footer-row .footer-col4 .copyright {
  padding-top: 30px;
  padding-left: 350px;
  font-size: 0.95rem;
  font-family: "Public Sans", sans-serif;
  color: #9698a6;
}
